/*
Author: Darwin Pena Cabrera
Date: 12/21/2025
File name: style.css
*/

/* css reset */
body, header, nav, main, footer, img, h1, h3, ul, aside, figure, figcaption{
margin: 0;
padding: 0;
border: 0;
}

/*Style rules for body and images*/
body {
  background-color: #b164ff;
}

img, video {
  max-width: 100%;
  display: block;
}
/*Style rules for mobile viewport*/

/*styles rules to show mobile class and hide tab-desk class*/
.mobile, .mobile-tablet {
  display: block;
}
.tab-desk, .desktop {
  display: none;
}

/*Style rules for header area*/
.mobile h1 {
  padding: 2%;
  text-align: center;
  font-family: "Emblema One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.mobile h3 {
  padding: 2%;
  text-align: center;
  font-family: "Lora", serif;
  font-weight: 400;
  font-style: normal;
}
/*Style rules for navigation area*/
nav {
  background-color: #000000;
}

nav ul {
  list-style-type: none;
  text-align: center;
}

nav li {
  font-size: 1.5em;
  font-family: Geneva, Arial, sans-serif;
  font-weight: bold;
  display: block;
  border-top: 0.5px solid #f6e4f3;
}

nav li a {
  display: block;
  color: #ffffff;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 2em;
  padding-left: 2em;
  text-decoration: none;
}

/*Style rules for main content*/
main{
  padding: 2%;
  font-family: Verdana, Arial, sans-serif, "Lora", serif;
}

main p {
  font-size: 1.25em;
  text-align: center;
}

main h3 {
  padding-top: 2%;
}

main ul {
  list-style-type: square;
}

.link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  font-style: italic;
}

.action {
  font-size: 1.75em;
  font-weight: bold;
  text-align: center;
}

.round {
  border-radius: 6px;
}

aside {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 4px 4px 10px #ff8bd6;
}

figure {
  border: 10px solid #ffffff;
  box-shadow: 6px 6px 10px #ff8bd6;
  max-width: 400px;
  margin: 2% auto;
}

figcaption {
  padding: 2%;
  border-top: 4px solid #000000;
  text-align: center;
  font-weight: bold;
}

#info ul {
  margin-left: 10%
}

#contact, h2 {
  text-align: center;
}


/*Style rules for footer content*/
footer {
  text-align: center;
  font-size: 0.85em;
  background-color: #000000;
  color: #f6eee4;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 0%;
  padding-right: 0%;
}

footer a {
  color: #ff8bd6;
  text-decoration: none;
}

/*Media Query for Tablet Viewport*/

@media screen and (min-width: 620px) {
/*tablet viewport: show tab-desk class, hide mobile class*/

.tab-desk {
  display: block;
}
.mobile {
  display: none;
}
/*tablet viewport: style for nav area*/

nav li {
  border-top: none;
  display: inline-block;
  font-size: 1.5em;
}

nav li a {
  padding: 0.5em;
}
.grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
}

aside, main p {
  grid-column: 1 / span 2;
}
 #love, #history {
  width: 45%;
  float: left;
  margin: 0 2%;
}

}

/*Media Query for Print*/

@media print {

  body {
    background-color: #fff;
    color: #000;
  }
}
/*Media Query for Desktop Viewport*/

@media screen and (min-width: 1000px) {
/*Desktop Viewport: Show desktop class, hide mobile-tablet class*/

.desktop {
  display: block;
}

.mobile-tablet {
  display: none;
}
nav li {
  font-size: 1.5em;
}

nav li a {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 1.5em;
  padding-left: 1.5em;
}

nav li a:hover {
  color:#2a1f14;
  background-color: #ffffff;
  opacity: 0.5;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 30px;
}

aside, main p {
  grid-column: 1 / span 3;
  font-size: 2em;
}
#love, #history {
  width: 45%;
  float: left;
  margin: 0 2%;
}
 main aside {
    grid-column: 1 / -1;
  }
 
/*Desktop Viewport: Style rules for main content*/

}

/*Media Query for Large Desktop Viewports*/

@media screen and (min-width: 1921px) {

  .desktop {
  display: block;
  }
  
  body { 
    background: linear-gradient(#baa9f4, #fe67d1); 
    
  }
  #wrapper {
    width: 1920px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }
  main {
    background-color: #ffffff;
  }

  .grid {
  display: grid;
  grid-template-columns: auto auto;
  }

  aside {
    grid-column: 1 / span 2;
    font-size: 3em;
  }
  #love, #history {
  width: 45%;
  float: left;
  margin: 0 2%;
}
 
}
