/*
Author: Darwin Pena Cabrera
Date: 12/02/2025
File name: style.css
*/

/* css reset */
body, header, nav, main, footer, img, h1, h3, ul {
margin: 0;
padding: 0;
border: 0;
}

/*Style rules for body and images*/
body {
  background-color: #f9cdf6;
}

img {
  max-width: 100%;
  display: block;
}
/*Style rules for mobile viewport*/

/*styles rules to show mobile class and hide tab-desk class*/
.mobile {
  display: block;
}
.tab-desk {
  display: none;
}

/*Style rules for header area*/
.mobile h1 {
  padding: 2%;
  text-align: center;
  font-family: "Emblema One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.mobile h3 {
  padding: 2%;
  text-align: center;
  font-family: "Lora", serif;
  font-weight: 400;
  font-style: normal;
}
/*Style rules for navigation area*/
nav {
  background-color: #000000;
}

nav ul {
  list-style-type: none;
  text-align: center;
}

nav li {
  display: inline-block;
  font-size: 1.5em;
  font-family: Geneva, Arial, sans-serif;
  font-weight: bold;
  display: block;
  border-top: 0.5px solid #ff0019
}

nav li a {
  display: block;
  color: #ffffff;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 2em;
  padding-left: 2em;
  text-decoration: none;
}

/*Style rules for main content*/
main{
  padding: 2%;
  font-family: Verdana, Arial, sans-serif, "Lora", serif;
}

main p {
  font-size: 1.25em;
}

main h3 {
  padding-top: 2%;
}

main ul {
  list-style-type: square;
}


/*Style rules for footer content*/
footer {
  text-align: center;
  font-size: 0.85em;
  background-color: #000000;
  color: #ffffff;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 0%;
  padding-right: 0%;
}

footer a {
  color: #ffffff;
  text-decoration: none;
}

/*Media Query for Tablet Viewport*/

@media screen and (min-width: 620px) {
/*tablet viewport: show tab-desk class, hide mobile class*/

.tab-desk {
  display: block;
}
.mobile {
  display: none;
}
/*tablet viewport: style for nav area*/

nav li {
  border-top: none;
  display: inline-block;
  font-size: 1.25em;
}

nav li a {
  padding: 0.5em;
}

#love, #history {
  width: 45%;
  float: left;
  margin: 0 2%;
}
}
/*Media Query for Large Desktop Viewports*/

@media screen and (min-width: 1921px) {

  body { 
    background: linear-gradient(#f9cdf6, #ff0019); 
    
  }
  #wrapper {
    width: 1920px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }
  main {
    background-color: #f9cdf6;
  }

  #love, #history {
  width: 45%;
  float: left;
  margin: 0 2%;
}
}

/*Media Query for Print*/

@media print {

  body {
    background-color: #fff;
    color: #000;
  }
}
/*Media Query for Desktop Viewport*/

@media screen and (min-width: 1000px) {
/*Desktop Viewport: Style rules for nav area*/

nav li {
  font-size: 1.5em;
}

nav li a {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 1.5em;
  padding-left: 1.5em;
}

nav li a:hover {
  color:#000000;
  background-color: #f9cdf6;
}

#love, #history {
  width: 45%;
  float: left;
  margin: 0 2%;
}

#love h1, #history h1{
  text-align: center;
}

/*Desktop Viewport: Style rules for main content*/

}
